In [41]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [42]:
data = pd.read_csv('/content/drive/My Drive/機器學習作業/CSV/Train.csv')
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

In [43]:
data.shape

(8523, 12)

In [44]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [45]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [46]:
#將item_weight填入平均值
x = data.iloc[:].values
imputer = imputer.fit(x[:,1:2])
x[:, 1:2] = imputer.transform(x[:, 1:2])

In [47]:
#處理low fat、regular有多種定義的問題
for i in range(len(x)):
  if x[i][2] == 'low fat' or x[i][2] == 'LF':
    x[i][2] = 'Low Fat'
  if x[i][2] == 'reg':
    x[i][2] = 'Regular'

In [48]:
#處理item_type有多個定義的問題
for i in range(len(x)):
  if x[i][4] == 'Breads' or x[i][4] == 'Baking Goods':
    x[i][4] = 'Baking Goods'

In [49]:
#2D-array轉回dataframe
data_df = pd.DataFrame(x)
data_df.rename(columns={0:'Item_Identifier', 1:'Item_Weight', 2:'Item_Fat_Content', 3:'Item_Visibility', 4:'Item_Type', 5:'Item_MRP', 6:'Outlet_Identifier', 7:'Outlet_Establishment_Year', 8:'Outlet_Size', 9:'Outlet_Location_Type', 10:'Outlet_Type', 11:'Item_Outlet_Sales'}, inplace=True)
data_df.head(3)

  Item_Identifier Item_Weight  ...        Outlet_Type Item_Outlet_Sales
0           FDA15         9.3  ...  Supermarket Type1           3735.14
1           DRC01        5.92  ...  Supermarket Type2           443.423
2           FDN15        17.5  ...  Supermarket Type1           2097.27

[3 rows x 12 columns]

In [50]:
data_df.isnull().sum() #處理完weight的nan值

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [51]:
#刪除Outlet_Size的nan值
data1=data_df.dropna(axis=0,how='any')

In [52]:
data1['Outlet_Size'].unique() #size的NaN值全部剔除

array(['Medium', 'High', 'Small'], dtype=object)

In [53]:
#處理label-encoding
le = LabelEncoder()

In [54]:
data1['Item_Fat_Content'] = le.fit_transform(data1['Item_Fat_Content'])
data1['Item_Type'] = le.fit_transform(data1['Item_Type'])
data1['Outlet_Size'] = le.fit_transform(data1['Outlet_Size'])
data1['Outlet_Location_Type'] = le.fit_transform(data1['Outlet_Location_Type'])
data1['Outlet_Type'] = le.fit_transform(data1['Outlet_Type'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [55]:
data1.head(3)

  Item_Identifier Item_Weight  ...  Outlet_Type Item_Outlet_Sales
0           FDA15         9.3  ...            1           3735.14
1           DRC01        5.92  ...            2           443.423
2           FDN15        17.5  ...            1           2097.27

[3 rows x 12 columns]