In [42]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [33]:
data = pd.read_csv('/content/drive/My Drive/機器學習作業/CSV/Train.csv')
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

In [34]:
data.shape

(8523, 12)

In [35]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [47]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [153]:
x = data.iloc[:].values
imputer = imputer.fit(x[:,1:2])
x[:, 1:2] = imputer.transform(x[:, 1:2])
print(len(x))

8523

In [154]:
#處理low fat、regular有多種定義的問題
for i in range(len(x)):
  if x[i][2] == 'low fat' or x[i][2] == 'LF':
    x[i][2] = 'Low Fat'
  if x[i][2] == 'reg':
    x[i][2] = 'Regular'

In [155]:
data_df = pd.DataFrame(x)
data_df.rename(columns={0:'Item_Identifier', 1:'Item_Weight', 2:'Item_Fat_Content', 3:'Item_Visibility', 4:'Item_Type', 5:'Item_MRP', 6:'Outlet_Identifier', 7:'Outlet_Establishment_Year', 8:'Outlet_Size', 9:'Outlet_Location_Type', 10:'Outlet_Type', 11:'Item_Outlet_Sales'}, inplace=True)
data_df.head(3)

  Item_Identifier Item_Weight  ...        Outlet_Type Item_Outlet_Sales
0           FDA15         9.3  ...  Supermarket Type1           3735.14
1           DRC01        5.92  ...  Supermarket Type2           443.423
2           FDN15        17.5  ...  Supermarket Type1           2097.27

[3 rows x 12 columns]

In [156]:
data_df.isnull().sum() #處理完weight的nan值

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [157]:
data1=data_df.dropna(axis=0,how='any')

In [159]:
data1['Item_Type'].unique() #size的NaN值全部剔除

array(['Dairy', 'Soft Drinks', 'Meat', 'Household', 'Baking Goods',
       'Snack Foods', 'Fruits and Vegetables', 'Breakfast',
       'Health and Hygiene', 'Hard Drinks', 'Frozen Foods', 'Canned',
       'Starchy Foods', 'Breads', 'Others', 'Seafood'], dtype=object)

In [145]:
data1.head(3)

  Item_Identifier Item_Weight  ...        Outlet_Type Item_Outlet_Sales
0           FDA15         9.3  ...  Supermarket Type1           3735.14
1           DRC01        5.92  ...  Supermarket Type2           443.423
2           FDN15        17.5  ...  Supermarket Type1           2097.27

[3 rows x 12 columns]